P3 - Viral Loop Social Agent.json
{
  "name": "P3 - Viral Loop Social Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "f5204bf7-ab9a-4c25-81f5-211978cada0b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "theme",
              "value": "AI tools that boost productivity for remote teams",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "platform",
              "value": "LinkedIn",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "tone",
              "value": "professional, inspiring, thought-leadership",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "max_hashtags",
              "value": 5,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ad6c370e-6bf5-40af-b0da-cccfe987f482",
      "name": "Set Theme Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create a complete LinkedIn post about productivity",
        "messages": {
          "messageValues": [
            {
              "message": "==You are a senior LinkedIn content strategist and copywriter.\n\nWrite a complete LinkedIn post for the following topic.\n\nTheme: {{ $json.theme }}\nPlatform: {{ $json.platform }}\nTone: {{ $json.tone }}\nMaximum hashtags: {{ $json.max_hashtags }}\n\nRequirements:\n- Write for LinkedIn only\n- Caption length must be 180 to 260 words\n- Start with a strong hook\n- Include a clear value proposition\n- Include 3 insight-rich body paragraphs\n- End with a strong call to action\n- Add exactly {{ $json.max_hashtags }} relevant hashtags\n- Do not use bullet points inside the caption\n- Do not add explanations\n- Do not add markdown\n- Do not shorten the output\n\nReturn ONLY in this exact format:\n\nCAPTION:\n[full LinkedIn post]\n\nHASHTAGS:\n[#tag1 #tag2 #tag3 #tag4 #tag5]"
            }
          ]
        }
      },
      "id": "ec344bfb-cdad-461e-9ce6-87fd26d8d9ca",
      "name": "Chain 1 - Caption + Hashtags",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.7
        }
      },
      "id": "89cf2648-9089-49e2-acb1-ceed16fff51d",
      "name": "Gemini - Caption Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "executeOnce": false,
      "credentials": {
        "googlePalmApi": {
          "id": "1U4bcWC8muMRgeyL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Caption: {{ $json.text }}\nTheme: {{ $json.theme }}\nPlatform: {{ $json.platform }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=You are an expert AI image prompt engineer. Based on the caption provided, generate ONE high-quality image prompt. Rules: - Maximum 60 words - Photorealistic, professional quality - Include subject, lighting, color palette, composition, mood - No text in the image - Optimized for square format (Instagram/LinkedIn). Return ONLY the prompt. No explanation."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Caption: {{ $json.text }} Theme: {{ $('Set Theme Input').item.json.theme }} Platform: {{ $('Set Theme Input').item.json.platform }}"
            }
          ]
        }
      },
      "id": "c6b25ea0-19d4-44c7-8090-e87d7a7bc5fb",
      "name": "Chain 2 - Image Prompt Writer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        912,
        16
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.9
        }
      },
      "id": "92228736-6bf7-40ce-a9a2-6a781598b5f8",
      "name": "Gemini - Image Prompt Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        224
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "1U4bcWC8muMRgeyL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v2beta/stable-image/generate/ultra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=sk-1UKFS7Nfqi9KZd06UXNTujLOAMK0fj5AXpmHbePWUm6OKh01"
            },
            {
              "name": "Accept",
              "value": "image/*"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.text || 'A professional social media visual about AI productivity for remote teams, photorealistic, modern office lighting, blue and white palette, balanced composition, confident mood, square format' }}"
            },
            {
              "name": "aspect_ratio",
              "value": "1:1"
            },
            {
              "name": "output_format",
              "value": "png"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        16
      ],
      "id": "793f7853-6fbe-4dd9-83c1-2825c7162df6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const themeInput = $('Set Theme Input').first().json;\nconst captionChainOutput = $('Chain 1 - Caption + Hashtags').first().json;\nconst imagePromptOutput = $('Chain 2 - Image Prompt Writer').first().json;\nconst incoming = $input.first();\n\nconst rawCaption = String(captionChainOutput.text || '').trim();\n\nlet caption = '';\nlet hashtags = '';\n\n// Primary parsing\nconst captionMatch = rawCaption.match(/CAPTION:\\s*([\\s\\S]*?)(?:HASHTAGS:|$)/i);\nconst hashtagMatch = rawCaption.match(/HASHTAGS:\\s*([\\s\\S]*)$/i);\n\nif (captionMatch) caption = captionMatch[1].trim();\nif (hashtagMatch) hashtags = hashtagMatch[1].trim();\n\n// Fallback 1: handle bold labels or missing exact spacing\nif (!caption) {\n  const altCaptionMatch = rawCaption.match(/\\*{0,2}CAPTION\\*{0,2}\\s*:?\\s*([\\s\\S]*?)(?:\\*{0,2}HASHTAGS\\*{0,2}\\s*:|$)/i);\n  if (altCaptionMatch) caption = altCaptionMatch[1].trim();\n}\n\nif (!hashtags) {\n  const altHashtagMatch = rawCaption.match(/\\*{0,2}HASHTAGS\\*{0,2}\\s*:?\\s*([\\s\\S]*)$/i);\n  if (altHashtagMatch) hashtags = altHashtagMatch[1].trim();\n}\n\n// Fallback 2: extract hashtags from anywhere in output\nif (!hashtags) {\n  const foundTags = rawCaption.match(/#[A-Za-z0-9_]+/g);\n  if (foundTags && foundTags.length) {\n    hashtags = foundTags.join(' ');\n  }\n}\n\n// Fallback 3: if no caption label was found, use full output minus hashtags\nif (!caption) {\n  caption = rawCaption.replace(/#[A-Za-z0-9_]+/g, '').replace(/HASHTAGS?:?/gi, '').trim();\n}\n\n// Clean caption\ncaption = caption.replace(/\\n{3,}/g, '\\n\\n').trim();\nhashtags = hashtags.replace(/\\n+/g, ' ').trim();\n\nconst fullText = [caption, hashtags].filter(Boolean).join('\\n\\n');\n\nconst binaryKey = incoming.binary ? Object.keys(incoming.binary)[0] : null;\nconst file = binaryKey ? incoming.binary[binaryKey] : null;\nconst mimeType = file?.mimeType || '';\nconst base64 = file?.data || null;\nconst isImage = mimeType.startsWith('image/');\nconst extension = isImage ? (mimeType.split('/')[1] || 'png') : 'bin';\nconst fileName = file?.fileName || `social-visual.${extension}`;\nconst dataUri = (base64 && isImage) ? `data:${mimeType};base64,${base64}` : null;\n\nconst captionValid = caption.length >= 180;\nconst hashtagsValid = hashtags.includes('#');\n\nreturn [{\n  json: {\n    metadata: {\n      generatedAt: new Date().toISOString(),\n      platform: themeInput.platform,\n      theme: themeInput.theme,\n      tone: themeInput.tone,\n      rawCaptionOutput: rawCaption\n    },\n    post: {\n      caption,\n      hashtags,\n      fullText,\n      characterCount: fullText.length\n    },\n    image: {\n      prompt: imagePromptOutput.text || '',\n      mimeType,\n      fileName,\n      dataUri,\n      previewHtml: dataUri ? `<img src=\"${dataUri}\" alt=\"generated image\" style=\"max-width:100%;height:auto;border-radius:12px;\" />` : null\n    },\n    status: {\n      captionGenerated: !!caption,\n      hashtagsGenerated: !!hashtags,\n      captionValid,\n      hashtagsValid,\n      imageGenerated: !!(base64 && isImage),\n      readyToPost: !!(captionValid && hashtagsValid && base64 && isImage)\n    }\n  },\n  binary: isImage ? incoming.binary : undefined\n}];"
      },
      "id": "7ffb32f9-def3-4a2d-a11c-fbb034d3332f",
      "name": "Prepare Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        0
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        16
      ],
      "id": "83f9d7ab-9c89-4861-99e7-9bbc4238b481",
      "name": "Wait",
      "webhookId": "6898672f-a4a0-48ad-a9d4-dd90f975d69b"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Theme Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Theme Input": {
      "main": [
        [
          {
            "node": "Chain 1 - Caption + Hashtags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 1 - Caption + Hashtags": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain 2 - Image Prompt Writer": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Caption Writer": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 1 - Caption + Hashtags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Image Prompt Writer": {
      "ai_languageModel": [
        [
          {
            "node": "Chain 2 - Image Prompt Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Prepare Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Chain 2 - Image Prompt Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0f095330-ee6f-446b-b7c2-84d0d1d30e59",
  "meta": {
    "instanceId": "d0ae271306300385c329e5909e35401bae8dd64083df00889c8c9e7418cc8775"
  },
  "id": "rzP8P8nRKVnlVkLZ",
  "tags": []
      }
